$blue-1 : #0B4696;
$blue-2: #1F64C3;
$blue-3: #538FE1;
$blue-4: #93BAF0;

$grey-body: #36383C;
$grey-dark: #515861;
$grey-mid: #7D8590;
$grey-light: #BDC1C7;
$grey-lightest: #EDF1F5;
$white: #FFFFFF;

$background: #F0F5F8;
$background-dark: #231F20;