$headings-font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$headings-font-size: 1.125rem;
$headings-line-height: 1.5rem;
$headings-font-weight: 700;

$body-font-family: 'ArchivoRegular', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$body-font-size: 0.875rem;
$body-line-height: 1.25rem;
$body-font-weight: 400;

$caption-font-size: 0.75rem;
$caption-font-weight: 400;
$caption-line-height: 1rem;