@use "../../styles/colors" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/typography" as *;

.OfferDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;

    &__image-container {
        height: 15.3125rem;
        margin: 3rem auto;
    }

    &__text-container {
        padding: 0 1.5rem;
    }

    &__title {
        font-family: $archivo;
        font-weight: 700;
        font-size: 0.875rem;
        color: $blue-2;
    }

    &__copy {
        font-family: $archivo;
        color: $grey-dark;
        font-size: 0.875rem;
    }

    &__caption {
        font-family: $archivo;
        color: $grey-mid;
        font-size: 0.875rem;
    }

    &__button {
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue-2;
        margin: 1rem 0;

        &:hover {
            background-color: $blue-1;
        }
    }

    &__button-text {
        font-family: $archivo;
        font-size: 1rem;
        margin: auto 0;
        padding: 0;
        color: $white;
    }

    &__button-icon {
        margin: 0.15rem 0.25rem 0 1rem;
        width: 1.25rem;
        height: 1.25rem;
    }

    &__terms {
        padding: 1.5rem
    }

    &__conditions {
        font-family: $archivo;
        font-size: 1.125rem;
        color: $grey-mid;
    }

    &__conditions-text {
        font-family: $archivo;
        font-size: 0.75rem;
        color: $grey-mid;
    }
}